@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
  
            html, body {
                width: 100%;
                height:100%;
            }


                                .cabecalho {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: space-around;
                                    width: 100%;
                                    height: 76px;
                                    padding-top: 6px;
                                    background-color: black;
                                }


                                        .cabecalho-imagem {
                                            height: 72px;
                                            width: auto;
                                        }

                                        .cabecalho-navegacao {
                                            display: flex;
                                            gap: 39px;
                                            color: #fff;
                                            font-size: 30px;
                                            font-weight: 700;
                                        }

                                        .navegacao-menu {
                                            font-family: 'Sarala', sans-serif;
                                            color: #fff;
                                            font-weight: 400;
                                            font-size: 23px;
                                        }


                                .conteudo {
                                    margin-bottom: 48px;
                                    border-top: 0.4px solid #4c231b;
                                }


                                    .conteudo-extra {
                                        font-size: 100%;
                                        background: linear-gradient(-45deg, #dbdbdb, #92a1bb, #2836d24e, #0c074e61);
                                        background-size: 400% 400%;
                                        animation: gradient 15s ease infinite;
                                        padding-bottom: 130px;
                                        padding-top: 30px;
                                        border-radius: 0px 502px 50px 502px;
                                    }
                                        @keyframes gradient {
                                            0% {
                                            background-position: 0% 50%;
                                                }
                                            50% {
                                            background-position: 100% 50%;
                                                }
                                            100% {
                                            background-position: 0% 50%;
                                            }
                                        }

                                        
                                        .conteudo-extra-escrito-titulo {
                                            font-family: 'Righteous', cursive;
                                            color: #05071f;
                                            font-weight: 400;
                                            text-align: center;
                                            font-size: 47px;
                                            padding-top: 70px;
                                        }
                                        .conteudo-extra-escrito-paragrafo {
                                            font-family: 'Sarala', sans-serif;
                                            text-align: center;
                                            color: #262626;
                                            font-weight:300;
                                            line-height: 130%;
                                            font-size: 22px;
                                            padding-right: 25%;
                                            padding-left: 25%;
                                        }


                                    .conteudo-principal {
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        justify-content: space-around;
                                        margin-right: 120px;
                                        margin-left: 90px;
                                    }


                                        .conteudo-principal-escrito {
                                            display: flex;
                                            flex-direction: column;
                                            flex-wrap: wrap;
                                            flex-basis: 460px;
                                        }
                                                
                                            .conteudo-principal-escrito-titulo {
                                                font-family: 'Righteous', cursive;
                                                font-weight: 400;
                                                font-size: 60px;
                                                color: #4c231b;
                                            }
                                                
                                                .conteudo-principal-escrito-paragrafo {
                                                    font-family: 'Sarala', sans-serif;
                                                    font-weight: 400;
                                                    font-size: 20px;
                                                    line-height: 97%;
                                                    color: #262626;
                                                }

                                                        .conteudo-principal-imagem {
                                                            height: 250px;
                                                            width: auto;
                                                        }

                                                        .conteudo-principal-imagem-dois {
                                                            height: 250px; 
                                                            padding-top: 20px; 
                                                            width: auto;
                                                        }

                                                
                                        .conteudo-final {
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                            justify-content: space-around;
                                            font-size: 100%;
                                            background: linear-gradient(-45deg, #111111, #000000, #090606, #0b0605);
                                            background-size: 400% 400%;
                                            animation: gradient 15s ease infinite;
                                            padding-bottom: 20px;
                                            padding-top: 20px;
                                            border-radius: 50px 502px 0px 502px;
                                        }
                                            @keyframes gradient {
                                                0% {
                                                background-position: 0% 50%;
                                                    }
                                                50% {
                                                background-position: 100% 50%;
                                                    }
                                                100% {
                                                background-position: 0% 50%;
                                                }
                                            }
                                            
                                                
                                                .conteudo-final-escrito {
                                                    display: flex;
                                                    flex-direction: column;
                                                    flex-wrap: wrap;
                                                    flex-basis: 460px;
                                                }
                                                                    
                                                    .conteudo-final-escrito-titulo {
                                                        font-family: 'Righteous', cursive;
                                                        font-weight: 400;
                                                        font-size: 14px;
                                                        text-align: left;
                                                        color: #e6e6e6;
                                                    }
                                                                    
                                                                    .conteudo-final-escrito-paragrafo {
                                                                        font-family: 'Sarala', sans-serif;
                                                                        font-weight: 400;
                                                                        font-size: 12px;
                                                                        line-height: 97%;
                                                                        text-align: left;
                                                                        color: #dddddd;
                                                                    }